.navbar-dark .navbar-nav .nav-link{
  font-size: 16px;
  color: $color-white;
  transition: all 0.2s linear;
  
  &.active,
  &:hover{
    color: $primary-light;
  }
}
@media (min-width: 1200px){
  .navbar-expand-xl .navbar-nav .nav-link {
      padding-right: .8rem;
      padding-left: .8rem;
  }
}